<?% include('includes/jwt.jst') ?>
<?%
$guardianConfigPath = "/var/tmp/guardian.cfg";
$action = isset($_POST['action']) ? strtolower(trim($_POST['action'])) : "";

$response = {};

if ("apply" == $action) {
    exec("/bin/touch /var/tmp/guardian");

    $response['status'] = "success";
    $response['message'] = "Guardian settings applied";
}
else {
    $configInfo = isset($_POST['configInfo']) ? $_POST['configInfo'] : "";
    $configInfo = str_replace("\r\n", "\n", $configInfo);
    $configInfo = str_replace("\r", "\n", $configInfo);
    $configInfo = str_replace("\0", "", $configInfo);

    if (!file_exists($guardianConfigPath)) {
        $guardianBootstrapFile = fopen($guardianConfigPath, "w");
        if ($guardianBootstrapFile != false) {
            fclose($guardianBootstrapFile);
        }
    }
    $guardianFile = fopen($guardianConfigPath, "w");
    if ($guardianFile != false) {
        fwrite($guardianFile, $configInfo);
        fclose($guardianFile);
        $response['status'] = "success";
    }
}

header("Content-Type: application/json");
echo(htmlspecialchars(json_encode($response), ENT_NOQUOTES, 'UTF-8'));
?>
